body, html {
    height: 100%;
    background-image: url(../images/JimmyK.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron{
    text-align: center;
    margin-top: 15px;
    background: none;
}
.display-4{
    font-weight: bold;
}
.wordBanner {
    text-align: center;
    margin-bottom: 25px;
    color: #ffff00;
}
.card {
    background: none;
    border: none;
}
.card-body {
    text-align: center;
    color: #ffff00;
}
.audio {
    display: none;
}
#wins {
    border-style: solid;
    border-color: #ff00ff;
    border-width: 2px;
    height: 130px;
    
}
#boneyard {
    border-style: solid;
    border-color: #ff00ff;
    border-width: 2px;
    height: 130px;
}
#remainingGuesses {
    border-style: solid;
    border-color: #ff00ff;
    border-width: 2px;
    height: 130px;
}
#lines {
    border-style: solid;
    border-color: #ff00ff;
    border-width: 2px;
    margin-bottom: 5px;

}
#lines{
    font-size: 30px;
}
